*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Arial,Helvetica, sans-serit ;
}
h1{
	font-weight: bold;
	font-size: 72px;
	color: #fff;
}
h2{
font-weight: bold;
font-size: 32px;
color: #333
}
h3{
font-weight: bold;
font-size: 30px;
color: #fff;
}
p{
	font-weight: normal;
	font-size: 18px;
	color: #333;
}
#header{
	background-image: url(../LP/images/intro-bg.jpg);
	background-attachment: fixed;
	height: 799px;
	text-align: center;
	background-size: cover;
}
#footer{
	background-image: url(../LP/images/banner-bg-u146-fr.jpg);
	background-attachment: fixed;
	background-size: cover;
	height: 531px;
}
#footer h2{
	color: #fff;
	margin-top: 248px;
}
#footer ul{

}
#footer ul li{

}
#footer ul li a{

}