*{
	margin: 0;
	padding: 0;
}
div{
width: 200px;
height: 200px;
}
#box1{
background-color: red;
float: left;
}
#left{
	width: 30px;
	/*height: 200px;*/
background-color: green;
float: left;
}
#right{
	width: 70px;
	/*height: 200px;*/
background-color: blue;
float: left;
}
.clear{
border: 1px solid black;
clear: both;
}